<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md navbar-light bg-light"> 
        <div class="navbar-brand">Taskleaf</div>
    </div>

    <div class="container">
         <%= yield %>
    </div>
       
  </body>
</html>

